{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %}>

    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
                crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item active">
                        <a href="/" class="nav-link px-2 text-white">Hotel</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'viewer:rooms' %}" class="nav-link px-2 text-white">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'viewer:reservations' %}" class="btn btn-outline-light me-2">Moje rezerwacje</a>
                    </li>
                </ul>

            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <div class="text-end">
                {% if user.is_authenticated %}
                    <span class="p-2 text-white">
                     {% if user.first_name %}Hello, {{ user.first_name }}!
                     {% else %}Hello, {{ user.username }}!{% endif %}
                    </span>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-outline-light me-2">Logout</a>
                {% else %}
                    <a href="{% url 'accounts:signin' %}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-warning">Sign-up</a>
                {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block calendar %}{% endblock %}
    {% block content%}{% endblock %}

    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Kontakt</h5>
                    <br>
                    <p>tel.555-555-555</p>
                    <p>hotelparadise@paradise.com</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Adres</h5>
                    <br>
                    <p>ul.Słoneczna 15</p>
                    <p>72-344 Rewal</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5><a href="{% url 'viewer:index' %}" class="btn btn-outline-light ">Strona główna</a></h5>
                    <br>
                    <br>
                    <span class="text-muted">Copyright &copy; {% now "Y" %}</span>

                </div>
            </div>

        </div>
    </footer>

    </body>
</html>