{% extends "base.html" %}

{% block title %}
Formularz do tworzenia rezerwacji
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div>
                <h1>Rezerwujesz pokój dla:</h1>
            </div>
            <hr>
        </div>
    </div>
    <div class="bg-light p-2">
        <div class="row">
            <div class="col">
                <form method="post" class="row">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-floating p-1 col">
                        {{ form.start_date.errors }}
                        {{ form.start_date }}
                        <label for="{{ form.start_date.id_for_label}}">Start Date</label>
                    </div>

                    <div class="form-floating p-1 col">
                        {{ form.end_date.errors }}
                        {{ form.end_date }}
                        <label for="{{ form.end_date.id_for_label}}">End Date</label>
                    </div>
                    <div class="col-12 p-1">
                        <input type="submit" value="Rezerwuj" class="btn btn-success w-100">
                    </div>


                </form>
                <a href="{% url 'viewer:reservations' %}" class="link-primary">Lista</a> Twoich rezerwacji.
            </div>
            <div class="col">
                <p class="m-1">

                    Imię: <strong>{{ user.first_name }}</strong><br>
                    Nazwisko: <strong>{{ user.last_name }}</strong><br>
                    Adres e-mail: <strong>{{ user.email }}</strong><br>
                    Telefon kontaktowy: <strong>{{ user.phone_number }}</strong><br>
                </p>
            </div>
        </div>


    </div>
</div>

<div class="container mt-4">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <hr>
        </div>
    </div>
    <div class="bg-light p-2">

        <div class="card mb-3">
            <img src="{{room.image.url}}" class="card-img-top w-100" alt="Card image cap"
                 style="object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text">Ilość miejsc w pokoju: {{ room.place_in_room }}</p>
                <p class="card-text">Cena: {{ room.current_price }}</p>
                <p class="card-text"><small class="text-muted">{{ room.description }}</small></p>
            </div>
            <div class="card-footer text-muted">
                Zapraszamy!
            </div>
        </div>

    </div>
    </div>

    <script>
    var disabledDates = {{ reservations_dates | safe }};
    function isDateAvailable(date){
        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
        return [ !disabledDates.includes(string) ];
    }

    document.addEventListener('DOMContentLoaded', function() {
            $( function() {
        var dateFormat = "yy-mm-dd",
      from = $( "#{{ form.start_date.id_for_label}}" )
        .datepicker({
          beforeShowDay: isDateAvailable,
          dateFormat: dateFormat,
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#{{ form.end_date.id_for_label}}" ).datepicker({
        beforeShowDay: isDateAvailable,
        dateFormat: dateFormat,
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
            });
    </script>
{% endblock %}
