{% extends "base.html" %}


{% block calendar %}
<main class="calendar" style="background-color: #d2d3d4;">
    <form action="{% url 'viewer:rooms' %}" method="GET" id="rooms_form">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Przyjazd</h5>
                    <input type="date" value="2021-05-12" min="2021-05-12" max="2022-12-31" name="date_from"><br>
                </div>
                <div class="col-md-4">
                    <h5>Wyjazd</h5>
                    <input type="date" value="2021-05-12" min="2021-05-12" max="2022-12-31" name="date_to"><br>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary m-2" type="submit" form="rooms_form">Sprawdź pokój w terminie
                    </button>
                </div>
            </div>
        </div>
    </form>

</main>


{% endblock %}


{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for image in view.images %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %} class="active" aria-current="true" {% endif %}
                aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for image in view.images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ image.images.url }}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h1> Hotel Paradise</h1>
                <p>Witamy w naszym hotelu!</p>
                <a href="{% url 'viewer:rooms'  %}" class="btn btn-primary">Pokoje</a>
            </div>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="bg-light p-5 rounded">
    <h1> Witamy w hotelu Paradise </h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        tempus sapien diam, ac rutrum orci dignissim id. Sed et maximus lectus.
        Nullam odio nulla, rutrum non auctor vitae, rhoncus sed purus. Ut
        sollicitudin mollis ultrices. Vivamus faucibus eros nibh, sed commodo ligul
        a suscipit vel. Praesent tincidunt sit amet purus vitae gravida. Proin eu j
        usto id leo viverra rutrum. Suspendisse potenti. Sed feugiat arcu et ligu

        la aliquet, quis dignissim quam hendrerit. Nunc convallis tincidunt tempo
        r. Sed eget scelerisque nunc. Etiam dapibus neque rutrum, posuere nisl eg
        et, lobortis libero. Suspendisse tellus lectus, ullamcorper vel vulputate
        vehicula, placerat hendrerit erat. Sed sed scelerisque enim, quis imperdie
        t lectus. Nunc condimentum ex sapien, eu blandit nisi pharetra id. Aliquam m
        aximus tincidunt sapien, et gravida nisi efficitur vitae.

    </p>

    <p>Suspendisse dapibus ligula magna, eu elementum felis placerat malesuada.
        Praesent lacus arcu, tristique id nunc ut, lacinia dictum leo. Vestibulum
        quis pellentesque velit. Cras non sem at mauris bibendum elementum auctor
        sit amet mauris. Morbi aliquet quis neque finibus vulputate. Nam eu interdu
        m orci. In facilisis ultrices porta. Aliquam accumsan purus magna. Maecena
        s congue imperdiet molestie. Sed tristique, erat id vulputate tempor, urna t
        ellus pulvinar dui, ut porttitor tellus mi eget eros. Duis tincidunt lectus at condimentum tincidunt.

    </p>
    <p>Suspendisse eu varius tortor. Praesent tristique viverra leo ac commodo.
        Fusce eget tincidunt ante. Fusce non mauris vestibulum, auctor elit nec, sc
        elerisque lorem. Sed lacus dui, imperdiet in nisi ac, tempus feugiat ex. Duis
        facilisis commodo velit vel aliquam. Donec nibh odio, dignissim eleifend malesuada
        non, suscipit vel ex. Integer sodales justo et aliquam lacinia. Aenean molestie tempus ex, in condimentum turpis
        malesuada vel.

    </p>
    <p>Vivamus in odio augue. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Nulla maximus, dolor vitae iaculis rh
        oncus, urna elit molestie diam, quis consequat velit justo nec felis. Cras eu nisl

        varius eros interdum fermentum. Duis sit amet maximus ante. Proin porta eros ut urna d
        apibus luctus. Morbi tincidunt felis mi, vitae aliquet mauris dapibus sed. Nulla eget l
        orem nec libero sodales finibus. Etiam bibendum id velit eu viverra. Maecenas iaculis ornare lectus at rhoncus.

    </p>
    <p>Fusce luctus finibus leo. Duis imperdiet, lectus vitae tempor tristique, eros ligula
        porttitor est, sed porta leo ex quis velit. Donec dignissim imperdiet augue vel mol
        lis. Integer rhoncus sagittis mollis. Maecenas scelerisque ut mauris lacinia lobortis.
        Mauris consequat fermentum dignissim. Fusce consectetur, libero ut ullamcorper vestibulum,
        metus orci dignissim risus, sit amet ornare nunc justo eu nisl. Curabitur commodo velit nec libero lacinia, eget
        scelerisque leo blandit. Quisque pulvinar ante nec sagittis luctus.

    </p>
    <p>Vivamus id ullamcorper ante. Duis condimentum justo leo, quis vehicula ex feugiat ac. S

        ed sodales faucibus sagittis. Nam eu lacus vitae elit suscipit dictum sed et purus. Nun
        c et turpis quis neque tempus lacinia in at enim. Quisque ornare gravida metus, ut fer
        mentum libero pulvinar ut. Duis a odio nunc. Donec in auctor sem, quis commodo diam. Ph
        asellus ut gravida sem. Pellentesque et egestas leo. Vestibulum vulputate urna ac neque
        hendrerit vestibulum. Pellentesque et ex at sapien tempus accumsan id eu velit. Nunc posuere laoreet luctus.
        Proin molestie ligula id lorem scelerisque, et imperdiet nisl efficitur.

    </p>
    <p>Cras efficitur arcu eu molestie feugiat. Duis in vestibulum mauris. Maecenas eget aliquam
        nisl. Vestibulum porta, lacus sit amet vehicula gravida, neque ante porta mi, id orna
        re arcu lectus vitae nulla. Nunc vel gravida tellus. Curabitur dignissim augue in felis
        lobortis hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Vestibulum egestas dignissim turpis, vel dignissim turpis rutrum
        lobortis. Aenean eu mi eget quam suscipit maximus nec et ex. Nam faucibus enim sed turpi
        s aliquet volutpat. Integer mollis quam vel ligula hendrerit, viverra consectetur lorem
        rhoncus. Nunc ut odio ac magna molestie rhoncus et sit amet arcu. Donec tincidunt, est
        in imperdiet mattis, odio justo rhoncus risus, sed commodo sem orci id dolor.</p>
</div>


{% endblock %}





