{% extends 'base.html'%}




{% block title %}
{% endblock %}

{% block content %}
<h1 style="text-align:center; margin-top: 40px; ">Moje rezerwacje</h1>
<hr style="margin-top: 40px;">
<p style="text-align:center ; margin-top: 40px; margin-bottom: 40px; ">I have {{ object_list | length }} reservation{{ object_list|length|pluralize:'s'}}</p>

<div style="  margin-top: 40px;
  display: grid;
  height: auto;
  width: 500px;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;">

    {% for reservation in object_list %}
      <div style="background-color:silver; margin-bottom: 50px; border: 1px silver solid; border-radius: 10px;">
          <a style="color: black; text-decoration: none" href="{% url 'viewer:reservation_detail' reservation.id %}">
          <h4 class="card-header">
              Zarezerwowany pokój: {{ reservation.room_id.name }}
          </h4>
          <div style="background-color:F7F8FA; text-align: center; border: 1px silver solid; border-radius: 10px; " >
            ID rezerwacji: {{reservation.id}}  </br>
              Rezerwacja od: {{ reservation.start_date }} </br>
              Rezerwacja do: {{ reservation.end_date }} </br>
              Data utworzenia rezerwacji: {{reservation.ts_created}} </br>
              Cena rezerwacji: {{reservation.price}}
          </div>
              </a>
      </div>



        {% empty %}

        <div>
            Nie masz żadnych rezerwacji
        </div>
        {% endfor %}
            </br>
        </br>
        </br>
        </br>

</div>
{% endblock %}
