{% extends "base.html" %}

{% block title %}
   Rezerwacja: {{object.id}}
{% endblock %}

{% block content %}
<h1> Id rezerwacji: {{object.id }}</h1>
Przyjazd: ({{object.start_date}})<br>
<hr>
Wyjazd: {{object.end_date}}
<hr>

  <a href="{% url 'viewer:reservations' %}" class="btn btn-secondary"> Przejdź do innych rezerwacji </a>
{% endblock %}