{% extends 'base.html'%}

{% block  title %}

{% endblock %}


{% block content %}
<div class="container mt-4">
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Nasze pokoje!</h1>
      </div>
      <hr>
    </div>
  </div>

  <div class="container-fluid padding">
    <div class="row padding">
      {% for room in object_list %}
      <div class="col-md-4">
            <div class="card text-center" style="max-width: 80rem;">
            <div class="card-header">{{ room.room_type_id }}</div>
            </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">{{ room.name }}</h5>
              <img class="card-imd-top w-100" src="{{room.image.url}}" style="object-fit:cover;" >
            <p class="card-text">Ilość miejsc w pokoju: {{ room.place_in_room }}</p>
              <p class="card-text">Cena: {{ room.current_price }}</p>
              <p class="card-text">Rezerwacja od: </p>
              <p class="card-text">Rezerwacja do: </p>
            <a href="{% url 'viewer:room_details' room.id %}" class="btn btn-primary">Szczegóły</a><a href="{% url 'viewer:reservation_create' room.id %}?date_from={{ date_from }}&date_to={{ date_to }}" class="btn btn-success">Zarezerwuj pokój</a>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
