{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row text-center">
        <h1> {{ room.name }}</h1>
        <h3>{{ room.room_type_id }}</h3>
        <br>
        <hr>

    </div>


    <p class="price"> Cena {{ room.current_price }} zł</p>

    <h3>Opis</h3>
    {{ room.description | linebreaksbr}}
    <hr>
    <div class="row text-center">
        <a href="{% url 'viewer:reservation_create' room.id %}" class="btn btn-success">Zarezerwuj pokój</a>
    </div>

    <br>
    <br>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 0"></button>
            {% for p in photos %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}"
                    aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{room.image.url}}" alt="First slide">
            </div>
            {% for p in photos %}
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ p.images.url }}" alt="Second slide">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
{% endblock %}
