{% extends 'accounts_base.html' %}

{% block content %}
<main class="form-signin">
    <form method="post">
        {% csrf_token %}
        <!--    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        {% for field in form %}
        <div class="form-floating">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div id="validationServer{{ field.id_for_label }}Feedback" class="invalid-feedback">
                {{ field.errors.0 }}
            </div>
        </div>
        {% endfor %}

        <!--        <div class="checkbox mb-3">-->
        <!--            <label>-->
        <!--                <input type="checkbox" value="remember-me"> Remember me-->
        <!--            </label>-->
        <!--        </div>-->
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</main>
{% endblock %}