{% extends 'accounts_base.html' %}

{% block content %}
<main class="form-signin">
    <form method="post">
        {% csrf_token %}

        <!--    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            {{form.username}}
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        </div>
        <div class="form-floating">
            {{form.password}}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            <div id="validationServer{{form.password.id_for_label }}Feedback" class="invalid-feedback">
                {{ form.non_field_errors.0 }}
            </div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    {% if form.errors %}
    {% for field in form %}
    <p> {{field.errors}} </p>
    {% endfor %}
    {% endif %}
</main>
{% endblock %}